body{
  background-color: rgb(94, 204, 255);
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.header{
  font-size: 2em;
  text-align: right;
}

.h2{
  font-size: 5em;
  text-align: left;
}
.passion{
  text-decoration: red;
}