body{
    background-color: rgb(94, 204, 255);
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}

.version1{
    font-size: 60px;
    position: relative;
    left: 100px;
    top: 200px;
}

.version1 h1 {
    margin: 0;
}

.version1 h3 {
    margin-top: 0;
}

.passion{
    color: red;
}

#contact {
    font-size: 30px;
    margin: 0;
}

#contactInfo {
    font-size: 20px;
}

/* 
.contact h3{
    font-size: 30px;
    margin-left: 100px;
}

.contact h4{
    font-size: 20px;
    margin-left: 100px;
    margin-top: -15px;
    display: inline-block;
} */
