body{
  background-color: rgb(94, 204, 255);
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}

#version1{
  height: 80px;
  margin: 80px 0px 10px 150px;
  font-size: 60px;
  color: red;
  display: inline-block;
}

#version2{
  height: 80px;
  margin: -87px 50px 10px 378px;
  font-size: 60px;
  display: inline-block;
}

#version3{
  height: 80px;
  margin: 49px 50px 10px 150px;
  font-size: 60px;
  display: inline-block;
}

#version5{
  margin-left: 160px;
  font-size: 110%;
  margin-top: 160px;
}

#contact{
  margin-left: 160px;
  font-size: 110%;
  margin-top: 170px;
}

.door image{
  width: 60px;
  height: 60px;
  position:relative;
  border-radius: 70%;
  overflow: hidden;
}