#style1{
  font-family: 'Courgette', cursive;
  color:black;
  font-size: 50px;
  text-align: center;
  padding-bottom: 100px; padding-top: 70px;
  margin-top: 0; margin-right: 0; margin-left: 0;
}
#style2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
body{
  background-size: cover; margin: none; padding-bottom: 50px;
}
